@import './resets';
@import  './functions';
@import './mixins';
@import './variables';

body {
    background: $lightGray;
    margin: 100px auto;
    font-family: font(Outfit);
}

.container {
    @include centerPage;
    width: 20em;
    background-color: $white;
    border-radius: 4%;
    padding: 12px 10px;
}

.main-text {
    @include centerPage;
    width: 18em;
}

.main-text h3 {
    color: $darkBlue;
    font-size: 24px;
    font-weight: weight(bold);
    padding: 15px 0;
}

.main-text p {
    @include centerPage;
    font-size: 16.5px;
    font-weight: weight(regular);
    color: $grayishBlue;
    width: 16em;
    padding-bottom: 15px;
}

.container img {
    border-radius: 4%;
    width: 300px;
    height: 300px;
}

.credits {
    @include centerPage;
    padding: 25px;
    font-size: 8px;
    font-size: 1vw;
}